<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SYCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SYWeChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libSYCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF18F6601AD9444D00184736</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF18F6791AD9444D00184736</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF9163D41ADB9A7E00D074BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF9163DE1ADB9A7E00D074BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF9164401ADB9F8600D074BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF91644A1ADB9F8600D074BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
